.button{
	-fx-background-color: #FF933D;
	-fx-background-radius: 70
}
.button:hover{
    -fx-background-color: #FF8626;
    -fx-background-radius: 70
}
.button:pressed{
	-fx-background-color:#ffcd7c;
	-fx-background-radius: 100
}