.button{
	-fx-background-color:#99DAFF;
}
.button:hover{
    -fx-background-color: #8ED6FF;
}
.button:pressed{
	-fx-background-color: #8ED6FF;
}
.table-view {
    -fx-background-color: #99DAFF;
    -fx-background-radius:14 14 0 0;
    -fx-font-size:15;
    }
.table-view .column-header-background{
        -fx-background-color: #99DAFF;
        -fx-background-radius:14;
        -fx-background-insets: 0 0 10 0;

    }
.table-view .column-header, .table-view .filler{
        -fx-size:50px;
        -fx-border-width: 0 0 10 0;
        -fx-background-color:transparent;
        
    }
    
.table-view .column-header .label {
        -fx-text-fill: #FF933D ;
    }
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #B6E5FF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #CEEDFF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}
.table-row-cell:selected {
    -fx-background-color: #FFC167;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}