.button{
	-fx-background-color: #FFD898;
	-fx-border-color:#FFFFFF;
	-fx-background-radius: 100
}
.button:hover{
    -fx-background-color: #ffcd7c;
    -fx-background-radius: 100
}
.button:pressed{
	-fx-background-color:#ffcd7c;
	-fx-background-radius: 100
}